<p-toolbar styleClass="toolbar">
  <ng-template #start>
    <p-button icon="pi pi-bars" [text]="true" (click)="sidebarVisible = !sidebarVisible" />
    <span class="toolbar-title">DEFI overview</span>
  </ng-template>
  <ng-template #end>
    <p-button icon="pi pi-user" [text]="true" (click)="menu.toggle($event)" [label]="(userAddress || '' | slice:0:9) + '...'" />
    <p-menu #menu [model]="menuItems" [popup]="true" />
    <p-button icon="pi pi-share-alt" [text]="true" />
  </ng-template>
</p-toolbar>

<div class="layout-container">
  @if (sidebarVisible) {
    <aside class="sidenav">
      <ul class="nav-list">
        <li>
          <a routerLink="/aave" routerLinkActive="active" class="nav-item">
            <i class="pi pi-chart-line"></i>
            <span>AAVE Overview</span>
          </a>
        </li>
        <li>
          <a routerLink="/pnl" routerLinkActive="active" class="nav-item">
            <i class="pi pi-wallet"></i>
            <span>Profit & Loss</span>
          </a>
        </li>
      </ul>
    </aside>
  }
  
  <div class="main-content">
    <router-outlet />
  </div>
</div>
